<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <filter>
    <filter-name>encodingFilter</filter-name>
    <filter-class>com.ruiyi.wechat.filter.CharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>utf-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>encodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>lockServlet</servlet-name>
    <servlet-class>com.ruiyi.wechat.servlet.lockServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>lockServlet</servlet-name>
    <url-pattern>/lockServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>carLocationServlet</servlet-name>
    <servlet-class>com.ruiyi.wechat.servlet.carLocationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>carLocationServlet</servlet-name>
    <url-pattern>/carLocationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>coreServlet</servlet-name>
    <servlet-class>com.ruiyi.wechat.servlet.CoreServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>coreServlet</servlet-name>
    <url-pattern>/coreServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>settingServlet</servlet-name>
    <servlet-class>com.ruiyi.wechat.servlet.settingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>settingServlet</servlet-name>
    <url-pattern>/settingServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>speekServlet</servlet-name>
    <servlet-class>com.ruiyi.wechat.servlet.speekServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>speekServlet</servlet-name>
    <url-pattern>/speekServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>userRegisterServlet</servlet-name>
    <servlet-class>com.ruiyi.wechat.servlet.userRegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userRegisterServlet</servlet-name>
    <url-pattern>/userRegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TotalServlet</servlet-name>
    <servlet-class>com.ruiyi.wechat.servlet.TotalServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TotalServlet</servlet-name>
    <url-pattern>/TotalServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ToolsServlet</servlet-name>
    <servlet-class>com.ruiyi.wechat.servlet.ToolsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ToolsServlet</servlet-name>
    <url-pattern>/ToolsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>rollBack</servlet-name>
    <servlet-class>com.ruiyi.wechat.servlet.rollBack</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>rollBack</servlet-name>
    <url-pattern>/httpsPost</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MainServlet</servlet-name>
    <servlet-class>com.ruiyi.wechat.servlet.MainServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MainServlet</servlet-name>
    <url-pattern>/MainServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TopayServlet</servlet-name>
    <servlet-class>com.ruiyi.wechat.servlet.TopayServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TopayServlet</servlet-name>
    <url-pattern>/TopayServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TopayServletForKF</servlet-name>
    <servlet-class>com.ruiyi.wechat.servlet.TopayServletForKF</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TopayServletForKF</servlet-name>
    <url-pattern>/TopayServletForKF</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>NotifyServlet</servlet-name>
    <servlet-class>com.ruiyi.wechat.servlet.NotifyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NotifyServlet</servlet-name>
    <url-pattern>/NotifyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AppServlet</servlet-name>
    <servlet-class>com.ruiyi.wechat.servlet.AppServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AppServlet</servlet-name>
    <url-pattern>/AppServlet</url-pattern>
  </servlet-mapping>
<!--   <servlet>
    <servlet-name>initServlet</servlet-name>
    <servlet-class>    
            com.ruiyi.wechat.servlet.InitServlet    
        </servlet-class>
    <init-param>
      <param-name>appid</param-name>
      <param-value>wx71460f3d267fcd41</param-value>
    </init-param>
    <init-param>
      <param-name>appsecret</param-name>
      <param-value>687b30e3fd3c1c911758fc4afb255205</param-value>
    </init-param>
    <load-on-startup>0</load-on-startup>
  </servlet>  --> 
</web-app>